body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 5S0px;
}

.orange-color {
    color: orange;
}

.aqua-color {
    color: aqua;
}

.aquamarine-color {
    color: aquamarine;
}

.half-width {
    width: 50%;
}

section {
    display: flex;
}

.half-width img {
    width: 80%;
}